@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Ubuntu&display=swap');

.container{
	max-width: 1000px;
	margin: 0px auto;
	padding: 0px 15px;
}

body{
	color: #000;
	font-family: 'Nunito', sans-serif;
	font-size: 18px;
	background-image: url(images/background.jpg);
	background-color: #f1f1f1;
	background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: justify;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 42px;
	background-image: none;
	background-color: #f1f1f1;
	padding: 15px;
	border-radius: 20px;
	border: 2px solid black;
}

.intro{
	text-align: left;
	background: #f1f1f1;
	background-size: 100%;
	background-color: #f1f1f1;
	padding: 10px;
	border-radius: 20px;
	border: 2px solid black;
	margin-bottom: 60px;


}

.list{
	text-align: justify;
	background-color: #f1f1f1;
	border-radius: 20px;
	margin-top: 3%;
	margin-right: 25%;
	margin-left: 25%;
	border: 2px solid black;
	margin-bottom: 150px;
}

.map{
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 20px;
	border: 2px solid black;
	height: 500px;
}

.mw-headline{
	font-size: 24px;
	font-weight: bold;
	font-family: 'Ubuntu', sans-serif;
	background-image: none;
	background-color: #f1f1f1;
	padding: 19px;
	border-radius: 20px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	border: 2px solid black;
}

p{
	background: #f1f1f1;
	background-image: none;
	background-color: #f1f1f1;
	padding: 20px;
	border-radius: 20px;
	border-top-left-radius: 0px;
	border: 2px solid black;
}

.images{
	max-width: 275px;
	border-radius: 10%;
	border: 2px solid white;
}
